/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
/* font-family: 'Nanum Myeongjo', serif; */

:root {
  --action-color: #1c6759;
  --primary-text-color: white;
  --primary-color: #1f7463;
  --secondary-color: #086655;

  --action-font-size: 20px;
  --big-font-size: 35px;
  --logo-size: 120px;
  --promo-size: 350px;

  --action-font-family: 'Nanum Myeongjo', serif;
}
@media screen and (min-width: 900px) {
  :root {
    --action-font-size: 25px;
    --big-font-size: 50px;
    --logo-size: 200px;
    --promo-size: 600px;
  }
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--primary-color);
}
.section {
  height: 100vh;
}
h1 {
  color: var(--primary-text-color);
  text-align: center;
}

.about {
  padding-top: 10px;
  background-color: var(--secondary-color);
}
.button-medium {
  z-index: 10;
  padding: 10px;
  font-size: var(--action-font-size);
  background-color: var(--action-color);
  color: var(--primary-text-color);
  text-decoration: none;
  font-family: var(--action-font-family);
  border-radius: 4px;
  transition: all ease 0.4s;
}
.button-medium:hover {
  color: var(--action-color);
  background-color: var(--primary-text-color);
}
.button-small {
  font-size: var(--action-font-size);
  color: var(--secondary-color);
}
.links {
  text-align: right;
  padding-top: 15px;
  padding-right: 10px;
}
.links a {
  margin-left: 5px;
}
.main-img {
  overflow-x: hidden;
  background: url('image/car1.jpg'),
    linear-gradient(
      0deg,
      var(--secondary-color) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #00000077;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}
.wave-container {
  width: 100%;
  height: 100%;
  background: url('image/wave.png');
  background-repeat: no-repeat;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.promo {
  width: var(--promo-size);
  height: 200px;
  text-align: center;
}
.promo h2 {
  margin-bottom: 20px;
  font-family: var(--action-font-family);
  color: var(--primary-text-color);
  font-size: var(--big-font-size);
}
.promo .button-medium {
  font-size: 30px;
}

.custom-shape-divider-top-1693113422 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1693113422 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 117px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1693113422 .shape-fill {
  fill: #111111;
}
.logo {
  position: absolute;
  width: var(--logo-size);
}
.logo-container {
  display: inline-block;
  padding-left: 20px;
}
.about p {
  text-align: center;
  color: var(--primary-text-color);
  font-size: 30px;
  margin-top: 30px;
}
.backBtn-container {
  padding-left: 5px;
  padding-top: 15px;
}
.custom-shape-divider-bottom-1693326509 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1693326509 svg {
  position: relative;
  display: block;
  width: calc(158% + 1.3px);
  height: 134px;
}

.custom-shape-divider-bottom-1693326509 .shape-fill {
  fill: var(--secondary-color);
}
